@import "default-theme-colors";

.button {
  background-color: $paler_blue;
  border-color: $paler_blue;
}

.button-positive {
  background-color: $darker_green;
  border-color: $darker_green;
}

.button-assertive {
  background-color: red;
  border-color: red;
}
