@import "default-theme-colors";

.button {
  background-color: $paler_blue;
  border-color: $paler_blue;
}

.button-positive {
  background-color: $darker_green;
  border-color: $darker_green;
}

.button-attack {
  background-color: red;
  border-color: red;
  color: black;
}

.button-defend {
  background-color: $paler_green;
  border-color: $paler_green;
  color: black;
}

.button-switch {
  background-color: $medium_blue;
  border-color: $boatgray;
}
.button[disabled] {
  background-color: $boatgray;
  border-color: $boatgray;
}

.button-assertive {
  background-color: orange;
  border-color: orange;
}
