@import "default-theme-colors";
@import "../screens";

.button {
  background-color: $paler_blue;
  border-color: $paler_blue;
  color: white;
  padding-left: 6px;

  @media (max-width: $screen-xs-max) {
    font-size: xx-small;
    padding: 1px;
    min-height: 1px;
    min-width: 1px;
    line-height: 20px;
  }

}

.button::before {
  @media (max-width: $screen-xs-max) {
    font-size: xx-small;
    padding: 1px;
    min-height: 1px;
    min-width: 1px;
    line-height: 20px;
  }
}

.button-submit {
  background-color: $darker_green;
  border-color: $darker_green;
}

.button-accept {
  background-color: $darker_green;
  border-color: $darker_green;
}

.button-close {
  background-color: $darker_green;
  border-color: $darker_green;
}

.button-rotatehelp {
  background-color: $darker_green;
  border-color: $darker_green;
}

.button-attack {
  background-color: red;
  border-color: red;
}

.button-defend {
  background-color: $paler_green;
  border-color: $paler_green;
  color: black;
}

.button-switch {
  background-color: $medium_blue;
  border-color: $boatgray;
}

.button-quit {
  background-color: orange;
  border-color: orange;
}

.button-reject {
  background-color: orange;
  border-color: orange;
}

.button-rematch {
  background-color: $paler_green;
}

.button-norematch {
  background-color: red;
}

.button[disabled] {
  background-color: $boatgray;
  border-color: $boatgray;
}

