@import "default-theme-colors";
@import "input";
@import "../screens";

.createGame {
  @include defaultInput;

  .item {
    background-color: $paler_blue;

    @media (max-width: $screen-xs-max) {
      font-size: small;
    }
  }

  select {
    background-color: $paler_blue;
  }

  textarea {
    margin-right: 15px;
  }

  .optionOn {
    color: $darker_green;
    font-size: x-large;
    padding-right: 5px;
  }

  .optionOff {
    color: $boatgray;
    font-size: x-large;
    padding-right: 5px;
  }

  .item-toggle {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
