@import "default-theme-colors";
@import "input";
@import "../screens";

.create-game {
  @include defaultInput;

  .item {
    @media (max-width: $screen-xs-max) {
      font-size: small;
    }
  }

  .item-divider {
    background-color: $boatgray;
  }

  .optionOn {
    color: $darker_green;
    font-size: x-large;
    padding-right: 5px;
  }

  .optionOff {
    color: $boatgray;
    font-size: x-large;
    padding-right: 5px;
  }

  .item-toggle {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .invite-button {
    background-color: $paler_green;
    color: black;
  }
}
