@import "default-theme-colors";
@import "input";

.default-theme {
  @import "gameList";
  @import "create";
  @import "signin";
  @import "modal";
  @import "playerList";
  @import "setup";
  @import "game";
  @import "help";
  @import "ams";
  @include defaultInput;
  @include defaultSelect;

  background-color: $paler_blue;

  .popup {
    background: $medium_blue;
    .popup-body {
      text-align: center;
    }
  }
  .scroll-content {
    background-color: $medium_blue;
  }

  .bar {
    background-color: $darker_blue;

    @media (max-width: $screen-xs-max) {
      padding: 1px;
      height: 24px;
    }

    .button.button-clear {
      @media (max-width: $screen-xs-max) {
        font-size: xx-small;
      }
    }
    .button.button-clear .icon:before {
      @media (max-width: $screen-xs-max) {
        font-size: xx-small;
        padding: 1px;
        min-height: 1px;
        min-width: 1px;
        line-height: 18px;
      }
    }

    .button.button-icon::before {
      @media (max-width: $screen-xs-max) {
        font-size: small;
        line-height: 18px;
      }
    }

    .title {
      @media (max-width: $screen-xs-max) {
        font-size: x-small;
        line-height: 24px;
      }
      + .buttons {
        top: 2px;
      }
    }

    .buttons {
      .left-buttons {
        .button {
          @media (max-width: $screen-xs-max) {
            font-size: x-small;
          }
        }
      }
    }
  }

  .has-header {
    @media (max-width: $screen-xs-max) {
      top: 24px;
    }

  }

  @import "items";
  @import "buttons";
  @import "toggles";

  .action-sheet {
    .button {
      font-weight: bold;
      font-size: 21px;
      line-height: 42px;
    }

    .action-sheet-cancel {
      .button {
        color: $boatgray;
        font-weight: bold;
      }
    }
  }
}


