@import "default-theme-colors";
@import "input";

.default-theme {
  @import "gameList";
  @import "create";
  @import "signin";
  @import "modal";
  @import "playerList";
  @import "setup";
  @import "game";
  @import "help";
  @include defaultInput;
  @include defaultSelect;

  background-color: $paler_blue;

  .popup {
    background: $medium_blue;
    .popup-body {
      text-align: center;
    }
  }
  .scroll-content {
    background-color: $medium_blue;
  }

  .bar {
    background-color: $darker_blue;

    @media (max-width: $screen-xs-max) {
      padding: 1px;
      height: 24px;
    }

    .button.button-icon::before {
      @media (max-width: $screen-xs-max) {
        font-size: small;
        line-height: 14px;
      }
    }

    .title {
      @media (max-width: $screen-xs-max) {
        font-size: x-small;
        line-height: 24px;
      }
      + .buttons {
        top: 2px;
      }
    }

    .buttons {
      .left-buttons {
        .button {
          @media (max-width: $screen-xs-max) {
            font-size: x-small;
          }
        }
      }
    }
  }

  .has-header {
    @media (max-width: $screen-xs-max) {
      top: 24px;
    }

  }

  @import "items";
  @import "buttons";
  @import "toggles";

  .autocomplete {
    @media (max-width: $screen-xs-max) {
      padding-left: 42px;
      padding-top: 2px;
      padding-bottom: 2px;
      .icon {
        font-size: large;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    .ion-autocomplete-container {
      .bar {
        padding: 2px;
      }
    }
  }
}


