//  Default theme - http://www.colorschemer.com/schemes/viewscheme.php?id=9133
$paler_green: #CDE6CC;
$darker_green: #8AC488;
$medium_green: #9BE199;
$paler_blue: #9BE1E7;
$medium_blue: #9BCFE7;
$darker_blue: #88B8C4;
$boatgray: #808080;
