@import "default-theme-colors";

.gameList {
  .list {
    .newGame {
      background-color: $paler_green;
      color: black;
      font-size: large;
    }

    .item {
      border-width: 1px;
      p {
        font-size: large;
      }
    }

    .gameListAvatar {
      max-width: 36px;
      max-height: 36px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .waiting {
    background-color: $medium_blue;
    .item-content {
      background-color: $medium_blue;
    }
  }

  .playable {
    background-color: $medium_green;
    .item-content {
      background-color: $medium_green;
    }
  }

}
