@import "default-theme-colors";
@import "../screens";

.game {
  .list {
    .item-avatar {
      img {
        left: 6px;

        @media (max-width: $screen-sm-max) {
          height: 24px;
          width: 24px;
        }

        @media (max-width: $screen-xs-max) {
          height: 0;
          width: 0;
        }
      }

      @media (max-width: $screen-sm-max) {
        min-height: 0;
        padding: 20px 0 20px 34px;
      }

      @media (max-width: $screen-xs-max) {
        min-height: 0;
        padding: 1px;
      }
    }

    .item {
      border-color: $medium_blue;
      border-left: transparent;
      border-right: transparent;

      @media (max-width: $screen-xs-max) {
        font-size: xx-small;
      }

      p, h3 {
        @media (max-width: $screen-sm-max) {
          font-size: smaller;
        }
        @media (max-width: $screen-xs-max) {
          font-size: xx-small;
        }
      }
      .badge {
        background: $paler_blue;
        color: black;
        top: 12px;
        right: 6px;

        @media (max-width: $screen-xs-max) {
          font-size: xx-small;
          top: 6px;
          padding: 1px 2px;
          line-height: 8px;
          right: 1px;
        }
      }

      .badge-note {
        background-color: transparent;
        top: 15px;
      }


    }
    .item-divider {
      border-color: $boatgray;

      @media (max-width: $screen-xs-max) {
        font-size: x-small;
      }
    }

    .chosen {
      background-color: yellow;

    }

  }

  .gameSummary {
    .item {
      font-weight: bold;
      text-align: left;
      border: none;
      padding: 2px;

      @media (max-width: $screen-xs-max) {
        font-size: x-small;
      }

      .item-note {
        text-align: left;
        color: black;
        float: left;

        @media (max-width: $screen-xs-max) {
          font-size: xx-small;
          font-weight: normal;
          width: 100%;
        }
      }
      .activePlayer {
        background-color: $medium_green;
      }

      .inactivePlayer {
        .badge {
          background-color: $medium_blue;
        }
      }

      .winner {
        .badge {
          background-color: $darker_green;
          color: black;
        }
      }

      .loser {
        .badge {
          background-color: red;
          color: black;
        }
      }
    }
  }

  .defeated {
    text-decoration: line-through;
    color: $boatgray;
  }

  .viewToggleRow {
    padding-top: 0;
    margin-top: 0;
  }
}

