@import "default-theme-colors";

.game-details {
  .list {
    .item {
      .item-note {
        color: black;
      }
      .checkmark {
        color: $darker_green;
      }
      .close {
        color: red;
      }
    }
  }
}