@import "default-theme-colors";
@import "../screens";

.createHelp {
  @media (max-width: $screen-xs-max) {
    font-size: smaller;

    h4 {
      font-size: small;
    }
  }
}

.setupHelp {
  @media (max-width: $screen-xs-max) {
    font-size: smaller;
  }
}

.playHelp {
  @media (max-width: $screen-xs-max) {
    font-size: smaller;
  }

  .tab-item {
    background-color: $darker_green;
    color: black;
  }

  .tab-item.activated {
    background-color: $darker_green;
    color: black;
    font-weight: bolder;
  }
}