@import "../screens";
@import "default-theme-colors";

@mixin defaultInput {
  textarea {
    border-radius: 4px;
    padding-left: 2px;
    background-color: white;
    margin-right: 15px;
    @media (max-width: $screen-xs-max) {
      font-size: small;
    }
  }

  input {
    border-radius: 4px;
    padding-left: 2px;
    background-color: white;
    margin-right: 15px;
    @media (max-width: $screen-xs-max) {
      font-size: small;
    }
  }
}

@mixin defaultSelect {
  select {
    border-radius: 4px;
    padding-left: 2px;
    background-color: $medium_blue;
    @media (max-width: $screen-xs-max) {
      font-size: small;
    }
  }
}

.input-label {
  color: black;
  @media (max-width: $screen-xs-max) {
    font-size: small;
  }
}

.ion-autocomplete {
  @media (max-width: $screen-xs-max) {
    font-size: small;
  }
}
