@import "default-theme-colors";

@mixin defaultInput {
  input {
    border-radius: 4px;
    padding-left: 2px;
    background-color: white;
    margin-right: 15px;
  }
}

@mixin defaultSelect {
  select {
    border-radius: 4px;
    padding-left: 2px;
    background-color: $medium_blue;
  }
}
