@import "default-theme-colors";
@import "../screens";

.item {
  background-color: $medium_blue;
  border-color: $boatgray;
  color: black;

  @media (max-width: $screen-xs-max) {
    padding: 2px;
  }

  .item-content {
    background-color: $medium_blue;

    @media (max-width: $screen-xs-max) {
      font-size: xx-small;
    }
  }
  .badge {
    background: $paler_green;
    color: $boatgray;

    @media (max-width: $screen-xs-max) {
      font-size: xx-small;
    }
  }

  @media (max-width: $screen-xs-max) {
    font-size: xx-small;
  }

}

.item-divider {
  background-color: $boatgray;
  border-color: $boatgray;
  color: white;
  .badge {
    background-color: $paler_blue;
    color: black;

    @media (max-width: $screen-xs-max) {
      font-size: xx-small;
      top: 2.5px;
      padding: 3px 6px;
      line-height: 12px;
    }
  }

  @media (max-width: $screen-xs-max) {
    font-size: xx-small;
    font-weight: lighter;
    padding: 1px;
    min-height: 1px;
  }
}

.action-item {
  border: 0;
  padding: 0;
}

