@import "default-theme-colors";

.playGame {
  .list {
    .item {
      border-color: $medium_blue;
      border-left: transparent;
      border-right: transparent;

      .badge {
        background: $paler_blue;
        color: $boatgray;
        top: 12px;
      }

      .badge-note {
        background-color: transparent;
        top: 15px;
      }

      .rematch {
        background-color: $paler_green;
        color: black;
      }

    }
    .item-divider {
      border-color: $boatgray;
    }


    .chosen {
      background-color: yellow;

    }

    .activePlayer {
      .badge {
        background-color: $medium_green;
      }
    }

    .inactivePlayer {
      .badge {
        background-color: $medium_blue;
      }
    }

    .winner {
      .badge {
        background-color: $darker_green;
        color: black;
      }
    }

    .loser {
      .badge {
        background-color: red;
        color: black;
      }
    }
    @import "buttons";
  }
}