@import "default-theme-colors";

.playGame {
  .list {
    .item-avatar {
      img {
        left: 6px;
      }
    }

    .item {
      border-color: $medium_blue;
      border-left: transparent;
      border-right: transparent;

      .badge {
        background: $paler_blue;
        color: black;
        top: 12px;
        right: 6px;
      }

      .badge-note {
        background-color: transparent;
        top: 15px;
      }

      .quit {
        padding-left: 6px;
      }

      .rematch {
        background-color: $paler_green;
        color: black;
        padding-left: 6px;
      }

      .endRematch {
        background-color: red;
        color: black;
        padding-left: 6px;
      }
    }
    .item-divider {
      border-color: $boatgray;
    }

    .chosen {
      background-color: yellow;

    }

    @import "buttons";
  }

  .gameSummary {
    .item {
      font-weight: bold;
      text-align: left;
      border: none;
      .item-note {
        text-align: left;
        color: black;
        float: left;
      }
      .activePlayer {
        background-color: $medium_green;
      }

      .inactivePlayer {
        .badge {
          background-color: $medium_blue;
        }
      }

      .winner {
        .badge {
          background-color: $darker_green;
          color: black;
        }
      }

      .loser {
        .badge {
          background-color: red;
          color: black;
        }
      }
    }
  }

  .defeated {
    text-decoration: line-through;
    color: $boatgray;
  }

  .viewToggleRow {
    padding-top: 0px;
    margin-top: 0px;
  }
}

.playHelp {
  img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
  }
}