@import "default-theme-colors";

.playGame {
  .list {
    .item {
      border-color: $medium_blue;
      border-left: transparent;
      border-right: transparent;
    }
    .item-divider {
      border-color: $boatgray;
    }

    .badge-note {
      background-color: transparent;
    }

    .chosen {
      background-color: yellow;

    }
    @import "buttons";
  }
}