@import "default-theme-colors";

.playerDetails {
  .list {
    .item {
      .item-note {
        color: black;
      }
      .button {
        right: 125px;
        background-color: $paler_green;
        color: black;
      }
    }
  }
}