@import "default-theme-colors";
@import "../screens";

.setupGame {
  .icon {
    @media (max-width: $screen-sm-max) {
      font-size: large;
      right: 1px;
      text-align: right;
      width: 24px;
    }
    @media (max-width: $screen-xs-max) {
      font-size: small;
      right: 1px;
      text-align: right;
      width: 16px;
    }
  }
}