@import "default-theme-colors";
@import "../screens";

.setupGame {
  .list {
    .item-avatar {
      img {
        left: 6px;
      }
    }
    .item {
      border-color: $medium_blue;
      border-left: transparent;
      border-right: transparent;
    }

  }
}