<ion-view class="admin-screen">
    <ion-content class="has-header" ng-cloak>
        <div class="row">
            <div class="col-50">
                <a class="button-full button {{adminShowStats ? 'selected' : ''}}"
                   ng-click="adminSwitchToStats()">Stats</a>
            </div>
            <div class="col-50">
                <a class="button-full button {{adminShowSwitch ? 'selected' : ''}}"
                   ng-click="adminSwitchToSwitchPlayer()">Switch Player</a>
            </div>
        </div>
        <div ng-show="adminShowStats">
            <div ng-include="'templates/admin/admin-stats.html'"></div>
        </div>
        <div ng-show="adminShowSwitch">
            <div ng-include="'templates/admin/admin-switch-player.html'"></div>
        </div>
    </ion-content>
</ion-view>