@import "pirate-theme-colors";
@import "../screens";

.admin-screen {

  .button {
    background-color: $brown;
    border-width: 0;
    color: black;
  }

  .selected {
    font-weight: bold;
    background-color: $gold;
  }

  .admin-stats {
    padding: 20px;
    .col {
      padding: 0;
    }
  }

  .admin-user {
    .button-stop-simulating {
      background-color: $black;
      color: white;
    }

    .button-get-users {
      background-color: $blue;
    }

    .button-change-user {
      background-color: red;
    }
    .item {
      padding: 0;
      .col {
        padding: 0;
      }
    }
  }
}