@import "pirate-theme-colors";
@import "../screens";

.admin {

  .button {
    background-color: $brown;
    border-width: 0;
    color: black;
  }

  .selected {
    font-weight: bold;
    background-color: $gold;
  }
}