@import "pirate-theme-colors";
@import "../screens";

.admin-screen {

  .button {
    background-color: $brown;
    border-width: 0;
    color: black;
  }

  .selected {
    font-weight: bold;
    background-color: $gold;
  }

  .admin-stats {
    padding: 20px;
    .col {
      padding: 0;
    }
  }
}