@import "pirate-theme-colors";

.gameDetails {
  .list {
    .item {
      .item-note {
        color: $gold;
      }
      .checkmark {
        color: $gold;
      }
      .close {
        color: $red;
      }
    }
  }
}