@import "pirate-theme-colors";
@import "../screens";

.game {
  .list {
    .item-avatar {
      img {
        left: 6px;
        background-color: $gold;

        @media (max-width: $screen-sm-max) {
          height: 24px;
          width: 24px;
        }

        @media (max-width: $screen-xs-max) {
          height: 0;
          width: 0;
        }
      }

      @media (max-width: $screen-sm-max) {
        min-height: 0;
        padding: 20px 0 20px 34px;
      }

      @media (max-width: $screen-xs-max) {
        min-height: 0;
        padding: 1px;
      }
    }

    .item {
      border-color: $black;
      border-left: transparent;
      border-right: transparent;

      @media (max-width: $screen-xs-max) {
        font-size: xx-small;
      }

      p, h3 {
        color: white;
        @media (max-width: $screen-sm-max) {
          font-size: smaller;
        }
        @media (max-width: $screen-xs-max) {
          font-size: xx-small;
        }
      }
      .badge {
        background: $gold;
        color: $black;
        top: 12px;
        right: 6px;

        @media (max-width: $screen-xs-max) {
          font-size: xx-small;
          top: 6px;
          padding: 1px 2px;
          line-height: 8px;
          right: 1px;
        }
      }

      .badge-note {
        background-color: transparent;
        top: 15px;
      }

    }
    .item-divider {
      border-color: $brown;

      @media (max-width: $screen-xs-max) {
        font-size: x-small;
      }
    }

    .chosen {
      background-color: $gold;
      p, h3 {
        color: $black;
      }

    }

  }

  .active-player {
    background-color: $red;
    p, h3 {
      color: white;
    }
  }

  .inactive-player {
    background-color: $black;
    p, h3 {
      color: white;
    }
  }

  .winner {
    background-color: $gold;
    h3 {
      color: $black !important;
    }
  }

  .loser {
    background-color: $red;
    p, h3 {
      color: white;
    }
  }

  .last-action-timestamp {
    @media (max-width: $screen-sm-max) {
      font-size: x-small;
    }
    @media (max-width: $screen-xs-max) {
      font-size: xx-small;
    }
  }

  .defeated {
    text-decoration: line-through;
    color: $black;
    p, h3 {
      color: white;
    }
  }

  .view-toggle-row {
    padding-top: 0;
    margin-top: auto;
    align-items: center;
  }
}

