@import "pirate-theme-colors";
@import "../screens";

.item {
  background-color: $brown;
  color: $gold;
  border-radius: 6px;
  border: 0 $brown;

  p {
    color: $black;
  }

  @media (max-width: $screen-xs-max) {
    padding: 2px;
  }

  .item-content {
    background-color: $brown;

    @media (max-width: $screen-xs-max) {
      font-size: xx-small;
    }
  }
  .badge {
    background: $blue;
    color: $brown;

    @media (max-width: $screen-xs-max) {
      font-size: xx-small;
    }
  }

  @media (max-width: $screen-xs-max) {
    font-size: xx-small;
  }

}

.item-divider {
  background-color: $brown;
  border-color: $brown;
  color: white;
  .badge {
    background-color: $gold;
    color: black;

    @media (max-width: $screen-xs-max) {
      font-size: xx-small;
      top: 2.5px;
      padding: 3px 6px;
      line-height: 12px;
    }
  }

  @media (max-width: $screen-xs-max) {
    font-size: xx-small;
    font-weight: lighter;
    padding: 1px;
    min-height: 1px;
  }
}

.action-item {
  border: 0;
  padding: 0;
}

