@import "pirate-theme-colors";
@import "../screens";

.setup-game {
  .list {
    .item-avatar {
      img {
        background-color: $gold;
        @media (max-width: $screen-md-max) {
          height: 24px;
          width: 24px;
        }

        @media (max-width: $screen-sm-max) {
          height: 0;
          width: 0;
        }
      }

      @media (max-width: $screen-md-max) {
        min-height: 0;
        padding: 20px 0 20px 34px;
      }

      @media (max-width: $screen-sm-max) {
        min-height: 0;
        padding: 1px;
      }
    }

    .item {
      @media (max-width: $screen-sm-max) {
        font-size: xx-small;
      }

      p, h3 {
        @media (max-width: $screen-md-max) {
          font-size: smaller;
        }
        @media (max-width: $screen-sm-max) {
          font-size: xx-small;
        }
      }

      .icon {
        @media (max-width: $screen-md-max) {
          font-size: small;
          right: 1px;
          text-align: right;
          width: 24px;
        }
        @media (max-width: $screen-sm-max) {
          font-size: smaller;
          right: 1px;
          text-align: right;
          width: 16px;
        }
      }
    }
  }
}