Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 8443
      FromPort: 8443
      CidrIp: 0.0.0.0/0

  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["twistedgames"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      Listeners:
        - {LoadBalancerPort: 80, InstancePort: 80, Protocol: "HTTP"}
        - {LoadBalancerPort: 443, InstancePort: 8443, Protocol: "SSL", InstanceProtocol: "SSL", SSLCertificateId: "arn:aws:iam::599915427651:server-certificate/jtbdevelopment"}

files:
  "/tmp/tomcat.jks":
    mode: "000700"
    owner: tomcat
    group: tomcat
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/twistedgames/tomcat.jks
  "/tmp/server.xml":
    mode: "000700"
    owner: tomcat
    group: tomcat
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/twistedgames/server.xml

container_commands:
  move_tomcat_key:
    command: "mv /tmp/tomcat.jks /etc/tomcat8/"
  move_server_xml:
    command: "mv /tmp/server.xml /etc/tomcat8/"
