<div class="modal {{theme}}">
    <div class="inviteFriends tbsModal">
        <ion-header-bar>
            <h1 class="title">Invite Friends!</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <label class="item item-input">
                    <div style="width: 100%;">
                        <div class="input-label">
                            Friends To Invite:
                        </div>
                        <textarea rows="4" ion-autocomplete
                                  template-url="templates/autocomplete/autocompleteTemplate.html"
                                  ng-model="friendsToInvite"
                                  items-method="queryInvitableFriends(query)"
                                  selected-items-label="Selected Friends:"
                                  placeholder="Select friends..."
                                  item-value-key="id"
                                  item-view-value-key="name"
                                  items-clicked-method="friendInvitesChanged(callback)"
                                  items-removed-method="friendInvitesChanged(callback)"
                                  multiple-select="true">
                    </textarea>
                    </div>
                </label>
            </div>
            <a class="button button-full button-submit" ng-click="inviteFriends(friendsToInvite)">
                Invite
            </a>
            <a class="button button-full button-quit" ng-click="cancelInviteFriends()">Cancel</a>
        </ion-content>
    </div>
</div>
