.beta {
  color: red;
  font-weight: bold;
}

.game-icon {
  padding-left: 5px;
}

.list {
  .action-item {
    padding: 0;
  }
}

.redShip {
  color: #ff0000;
}

.greenShip {
  color: #005500;
  font-weight: bold;
}

.phaser {
  margin-left: 2px;
  margin-top: 4px;
  width: 100%;
}

.platform-ipad.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 44px;
}

.platform-ipad.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: 44px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
  height: 24px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: 24px;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
  margin-top: 0;
}

@import "default/default-theme";


