.game-icon {
  padding-left: 5px;
}

.list {
  .action-item {
    padding: 0;
  }
}

//  Default theme - http://www.colorschemer.com/schemes/viewscheme.php?id=9133

.default-theme {
  $paler_green: #CDE6CC;
  $darker_green: #8AC488;
  $medium_green: #9BE199;
  $paler_blue: #9BE1E7;
  $medium_blue: #9BCFE7;
  $darker_blue: #88B8C4;
  $boatgray: #808080;

  @mixin defaultInput {
    input {
      border-radius: 4px;
      padding-left: 2px;
      background-color: white;
      margin-right: 15px;
    }
  }

  background-color: $paler_blue;
  .scroll-content {
    background-color: $medium_blue;
  }
  .bar-header {
    background-color: $darker_blue;
  }
  .gameState {
    .list {
      .newGame {
        background-color: $medium_green;
        color: black;
      }
    }

    .playable {
      background-color: $medium_blue;
      .item-content {
        background-color: $medium_blue;
      }
    }

    .waiting {
      background-color: $paler_green;
      .item-content {
        background-color: $paler_green;
      }
    }
  }

  .item {
    background-color: $medium_blue;
    .item-content {
      background-color: $medium_blue;
    }
  }

  .item-divider {
    background-color: $boatgray;
    color: white;
    .badge {
      background-color: $paler_blue;
      color: black;
    }
  }

  .button {
    background-color: $paler_blue;
  }

  .button-positive {
    background-color: $darker_green;
  }

  .toggle .track {
    background: $boatgray;
    border-color: $boatgray;
  }
  .toggle input:checked + .track {
    background: $darker_green;
    border-color: $darker_green;
  }
  .tbsModal {
    @include defaultInput;
  }

  .createGame {
    @include defaultInput;
    .item {
      background-color: $paler_blue;
    }
    select {
      background-color: $paler_blue;
    }

    .optionOn {
      color: $darker_green;
      font-size: x-large;
      padding-right: 5px;
    }
    .optionOff {
      color: $boatgray;
      font-size: x-large;
      padding-right: 5px;
    }

    .item-toggle {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  @include defaultInput;

  select {
    border-radius: 4px;
    padding-left: 2px;
    background-color: $medium_blue;
    #margin-right: 15px;
  }
  .createHelp {

  }

  .signin {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

