.game-icon {
  padding-left: 5px;
}

.list {
  .action-item {
    padding: 0;
  }
}

.redShip {
  color: #ff0000;
}

.greenShip {
  color: #005500;
  font-weight: bold;
}

.phaser {
  margin-left: 2px;
  margin-top: 4px;
}
@import "default/default-theme";


