<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.example.TwistedBattleship" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
  <name>TwistedBattleship</name>
  <description>
        Twisted Battleship - Rule the 7 seas!
    </description>
  <author email="jtbdevelopment@gmail.com" href="http://www.jtbdevelopment.com/">
        JTB Development
    </author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>