<ion-view class="action-log">
    <ion-content class="has-header" ng-cloak>
        <ion-list>
            <ion-item class="item item-text-wrap"
                      ng-repeat="action in log.shownEntries | orderBy:['-timestamp']">
                {{action.description}}
                <p>{{main.gameDetails.formatActionTime(action.timestamp)}}</p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="log.hasMoreEntries()" on-infinite="log.loadMore()" immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>