<ion-view class="createGame">
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-person-add" ng-show="invitableFriends.length >= 0"
                ng-click="showInviteFriends()"></a>
        <a class="button button-icon button-clear ion-help-circled" ng-click="showHelp(0)"></a>
    </ion-nav-buttons>
    <ion-content>
        <a class="button-full button-submit button" ng-disabled="!(submitEnabled)" ng-click="createGame()">
            Start
        </a>
        <div class="list create">
            <div class="item item-divider">
                Choose your opponents (maximum of 5):
            </div>
            <div angular-multi-select
                 class="ams_container"
                 helper-elements="filter noall nonone noreset"
                 min-search-length="1"
                 on-close="playersChanged()"
                 on-item-click="playersChanged()"
                 input-model="friends"
                 output-model="$parent.playerChoices"
                 button-template="angular-multi-select-btn-data.htm"
                 item-label="<[ displayName ]>"
                 search-property="displayName"
                 button-label="<[ displayName ]>">
            </div>
            <div class="item item-divider">
                Choose your game options:
            </div>
            <div ng-repeat="feature in featureData | propsFilter: { checkBox: 'false' }">
                <label class="item item-input item-select">
                    <div class="input-label">
                        <i class="icon optionOn ion-{{gameDetails.iconForFeature(currentOptions[feature.index])}}"></i>
                        {{feature.feature.label}}
                    </div>
                    <select ng-model="currentOptions[feature.index]">
                        <option ng-repeat="option in feature.options" value="{{option.feature}}">{{option.label}}
                        </option>
                    </select>
                </label>
            </div>

            <div ng-repeat="feature in featureData | propsFilter: { checkBox: 'true' }">
                <ion-toggle ng-model="currentOptions[feature.index]">
                    <i class="icon ion-{{gameDetails.iconForFeature(feature.options[0].feature)}} {{currentOptions[feature.index] ? 'optionOn' : 'optionOff'}}"></i>
                    {{feature.feature.label}}
                </ion-toggle>
            </div>
        </div>
    </ion-content>
</ion-view>