<ion-view class="createGame">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person-add" ng-show="invitableFriends.length >= 0"
                ng-click="showInviteFriends()"></button>
        <button class="button button-icon button-clear ion-help-circled" ng-click="showHelp(0)"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list create">
            <div ng-repeat="feature in featureData | propsFilter: { checkBox: 'false' }">
                <label class="item item-input item-select">
                    <div class="input-label">
                        <i class="icon optionOn ion-{{gameDetails.iconForFeature(currentOptions[feature.index])}}"></i>
                        {{feature.feature.label}}
                    </div>
                    <select ng-model="currentOptions[feature.index]">
                        <option ng-repeat="option in feature.options" value="{{option.feature}}">{{option.label}}
                        </option>
                    </select>
                </label>
            </div>

            <div ng-repeat="feature in featureData | propsFilter: { checkBox: 'true' }">
                <ion-toggle ng-model="currentOptions[feature.index]">
                    <i class="icon ion-{{gameDetails.iconForFeature(feature.options[0].feature)}} {{currentOptions[feature.index] ? 'optionOn' : 'optionOff'}}"></i>
                    {{feature.feature.label}}
                </ion-toggle>
            </div>
            <label class="item item-input item-wrap-text">
                <div class="input-label">
                    <i class="icon optionOn ion-person-stalker"></i>
                    Opponents (Max 5):
                </div>
                <!--  TODO - not very nice on small screens -->
                <ion-autocomplete theme="default-theme"
                                  template-url="templates/autocomplete/autocompleteTemplate.html"
                                  ng-model="playerChoices"
                                  items-method="queryFriends(query)"
                                  selected-items-label="Selected Players:"
                                  placeholder="Select opponents..."
                                  item-value-key="md5"
                                  item-view-value-key="displayName"
                                  items-clicked-method="playersChanged(callback)"
                                  items-removed-method="playersChanged(callback)"
                                  multiple-select="true">
                </ion-autocomplete>
            </label>
        </div>
        <button class="button-full button-submit button" ng-disabled="!(submitEnabled)" ng-click="createGame()">
            Start
        </button>
    </ion-content>
</ion-view>