<ion-view class="gameDetails">
    <ion-content class="has-header" ng-cloak>
        <ion-list>
            <ion-item class="item">
                State
                <span class="item-note">{{phase}}</span>
            </ion-item>
            <ion-item class="item">
                Grid Size
                <span class="item-note">{{gridSize}}</span>
            </ion-item>
            <ion-item class="item">
                Moves
                <span class="item-note">{{moves}}</span>
            </ion-item>
            <ion-item class="item">
                Fog of War
                <span class="item-note">{{intel}}</span>
            </ion-item>
            <ion-item class="item item-icon-right">
                ECM Enabled:
                <div class="icon ion-{{ecmEnabled}} {{ecmEnabled}}"></div>
            </ion-item>
            <ion-item class="item item-icon-right">
                Spies Enabled:
                <div class="icon ion-{{spyingEnabled}} {{spyingEnabled}}"></div>
            </ion-item>
            <ion-item class="item item-icon-right">
                Cruise Missiles Enabled:
                <div class="icon ion-{{cruiseMissileEnabled}} {{cruiseMissileEnabled}}"></div>
            </ion-item>
            <ion-item class="item item-icon-right">
                Repairs Enabled:
                <div class="icon ion-{{repairsEnabled}} {{repairsEnabled}}"></div>
            </ion-item>
            <ion-item class="item item-icon-right">
                Evasive Action Enabled:
                <div class="icon ion-{{moveEnabled}} {{moveEnabled}}"></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>