<ion-view>
    <ion-content>
        <!--  TODO - refresh -->
        <ion-refresher pulling-text="Pull to refresh"></ion-refresher>
        <ion-list>
            <ion-item ng-click="createNew()">
                <i class="icon ion-plus"></i>
                New Challenge
            </ion-item>
            <div ng-repeat="phase in phasesInOrder">
                <div class="item item-divider" ng-click="switchHideGames(phase)">
                    <i class="icon ion-{{games[phase].icon}}"></i>
                    {{games[phase].label}}
                    <span class="item-note">{{games[phase].games.length}}</span>
                </div>

                <div ng-hide="games[phase].hideGames">
                    <ion-item ng-repeat="game in games[phase].games | orderBy:['-lastUpdate', '-created']"
                              ng-init="detail = gameDetails.shortGameDescription(game)"
                              href="#/app/games/{{game.id}}">
                        <span ng-repeat="(key, value) in game.players">{{value}}, </span>
                        {{detail.sizeText}}, {{detail.actionsText}} <i ng-repeat="icon in detail.icons"
                                                                       class="icon ion-{{icon}} game-icon"></i>
                    </ion-item>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>