<!--  TODO - center -->
<div class="item item-divider gameSummary">
    <strong>Grid:</strong> <dfn>{{gridSize}}</dfn>
    <strong>Moves:</strong> <dfn>{{moves}}</dfn>
    <strong>Intel:</strong> <dfn>{{intel}}</dfn>
    <strong>ECMs:</strong> <i class="icon ion-{{ecmEnabled}}"></i>
    <strong>Spies:</strong> <i class="icon ion-{{spyingEnabled}}"></i>
    <strong>Repairs:</strong> <i class="icon ion-{{repairsEnabled}}"></i>
    <strong>Evasive:</strong> <i class="icon ion-{{moveEnabled}}"></i>
</div>
