<!--  TODO - a game info button and screen shared with setup -->
<ion-view cache-view="false" class="game" hide-back-button="true">
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-help-circled" ng-click="showHelp()"></a>
    </ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div class="row">
            <div class="list col-20">
                <div class="item item-avatar item-text-wrap" ng-show="game.gamePhase === 'Playing'">
                    <img ng-src="{{gameDetails.imageForPlayer(game, game.currentPlayer)}}">

                    <h3 class="activePlayer">Turn: {{game.players[game.currentPlayer]}}</h3>

                    <p>{{game.remainingMoves}} moves left.</p>
                </div>
                <div class="item item-avatar item-text-wrap" ng-hide="game.gamePhase === 'Playing'">
                    <img ng-src="{{gameDetails.imageForPlayer(game, game.winningPlayer)}}">

                    <h3 class="activePlayer">Winner: {{game.players[game.winningPlayer]}}</h3>

                    <p>Winning Score: {{game.playersScore[game.winningPlayer]}}</p>
                </div>
                <div class="item item-avatar item-text-wrap {{showing == 'ALL' ? 'chosen' : ''}}"
                     ng-click="changePlayer('ALL')">
                    <img ng-src="{{gameDetails.imageForPlayer(game, player.md5)}}">

                    <h3 class="{{game.playersAlive[player.md5] == true ? 'active' : 'defeated'}}">
                        {{player.displayName}}</h3>

                    <p>Score: {{game.playersScore[player.md5]}}</p>
                </div>
                <div class="item item-divider">Opponents</div>
                <div ng-repeat="(md5, name) in game.players | orderBy:name"
                     class="item item-avatar item-text-wrap {{showing == md5 ? 'chosen' : ''}}"
                     ng-click="changePlayer(md5)"
                     ng-hide="md5 === player.md5">
                    <img ng-src="{{gameDetails.imageForPlayer(game, md5)}}">

                    <h3 class="{{game.playersAlive[md5] == true ? 'active' : 'defeated'}}">{{name}}</h3>

                    <p>Score: {{game.playersScore[md5]}}</p>
                </div>
                <div ng-show="gameDetails.playerCanPlay(game, player.md5)">
                    <div class="item item-divider">Actions</div>
                    <div ng-show="showingSelf">
                        <div class="item action-item">
                            <div class="button-bar">
                                <a class="button button-defend icon-left ion-{{gameDetails.iconForFeature('ECMEnabled')}}"
                                   ng-disabled="!gameDetails.ecmPossible(game, player.md5)"
                                   ng-click="ecm()">
                                    <span>ECM</span>
                                </a>
                                <span class="badge">{{game.maskedPlayersState.ecmsRemaining}}</span>
                            </div>
                        </div>
                        <div class="item action-item">
                            <div class="button-bar">
                                <a class="button button-defend icon-left ion-{{gameDetails.iconForFeature('EMEnabled')}}"
                                   ng-disabled="!(gameDetails.evasiveMovePossible(game, player.md5) && shipHighlighted)"
                                   ng-click="move()">
                                    <span>Evade</span>
                                </a>
                                <span class="badge">{{game.maskedPlayersState.evasiveManeuversRemaining}}</span>
                            </div>
                        </div>
                        <div class="item action-item">
                            <div class="button-bar">
                                <a class="button button-defend icon-left ion-{{gameDetails.iconForFeature('EREnabled')}}"
                                   ng-disabled="!(gameDetails.repairPossible(game, player.md5) && shipHighlighted)"
                                   ng-click="repair()">
                                    <span>Repair</span>
                                </a>
                                <span class="badge">{{game.maskedPlayersState.emergencyRepairsRemaining}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!showingSelf && game.playersAlive[showing] === true">
                        <div class="item action-item">
                            <div class="button-bar">
                                <a class="button button-attack icon-left ion-disc" ng-click="fire()">
                                    <span>Fire</span>
                                </a>
                                <span class="badge">{{game.remainingMoves}}</span>
                            </div>
                        </div>
                        <div class="item action-item">
                            <div class="button-bar">
                                <a class="button button-attack icon-left ion-{{gameDetails.iconForFeature('SpyEnabled')}}"
                                   ng-disabled="!gameDetails.spyPossible(game, player.md5)" ng-click="spy()">
                                    <span>Spy</span>
                                </a>
                                <span class="badge">{{game.maskedPlayersState.spysRemaining}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="game.gamePhase === 'Playing'">
                    <div class="item item-divider">Quit</div>
                    <div class="item action-item">
                        <div class="button-bar">
                            <a class="button button-quit icon-left ion-flag" ng-click="quit()">
                                <span>Surrender</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div ng-show="game.gamePhase === 'RoundOver'">
                    <div class="item item-divider">Rematch?</div>
                    <div class="item action-item">
                        <div class="button-bar ">
                            <a class="button button-rematch icon-left ion-loop" ng-click="rematch()">
                                <span>Rematch</span>
                            </a>
                        </div>
                    </div>
                    <div class="item action-item">
                        <div class="button-bar ">
                            <a class="button button-norematch icon-left ion-loop" ng-click="declineRematch()">
                                <span>End Rematches</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-80">
                <div class="row viewToggleRow">
                    <div class="col-50">
                        <div class="button-bar">
                            <a class="button button-switch-view icon-left {{showingSelf ? 'ion-checkmark' : '' }} button-defend"
                               ng-click="switchView(true)">Their view of you
                            </a>
                            <a class="button button-switch-view icon-left {{showingSelf ? '' : 'ion-checkmark' }} button-attack"
                               ng-click="switchView(false)" ng-disabled="showing == 'ALL'">Your view of them
                            </a>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="item item-text-wrap item-icon-right">
                            <i class="icon icon-right ion-more" ng-click="showActionLog()"></i>
                            {{gameDetails.lastActionLog(game)}}
                            <p>
                                {{gameDetails.lastActionTime(game)}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="phaser" class="phaser grid-{{game.gridSize}}">

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>