<!--  TODO - show player name and profile button  -->
<ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
        <a href="#/app/games" class="button button-icon button-clear ion-navicon"></a>
    </ion-nav-buttons>
    <ion-nav-title>Twisted Battleship</ion-nav-title>
    <!-- TODO - profile of player -->
    <!--
    <ion-nav-buttons side="right">
        <a href="#/app/games" class="button button-icon button-clear ion-person"></a>
    </ion-nav-buttons>
    -->
</ion-nav-bar>
<ion-nav-view name="menuContent"></ion-nav-view>
