<ion-side-menus enable-menu-with-back-views="true" expose-aside-when="(min-width:993px)">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left"></a>
                <a class="button button-icon button-clear ion-person" ng-click="showPlayer()"></a>
            </ion-nav-buttons>
            <ion-nav-title>Twisted Naval Battles</ion-nav-title>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <div ng-hide="mobile" class="mobile-links">
                <a href="https://itunes.apple.com/app/id1038538980" target="_blank">
                    <img ng-src="images/appstore.svg" class="ios"/>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.jtbdevelopment.TwistedBattleship"
                   target="_blank">
                    <img class="android" ng-src="images/googleplay.png"/>
                </a>
            </div>

            <ion-list>
                <ion-item menu-close href="#/signin" ng-hide="player.source == 'facebook'">
                    Login
                </ion-item>
                <player-game-list></player-game-list>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<div id="adImport" ng-include="adImport"></div>
