<ion-view class="player-list" hide-back-button="true">
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-information-circled" ng-click="playerList.showDetails()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-avatar item-icon-right">
                <img ng-src="{{main.gameDetails.imageForPlayer(playerList.game, playerList.player.md5)}}">
                {{playerList.player.displayName}}
                <span class="{{playerList.statusColor(playerList.player.md5)}}">
                    <i class="icon ion-{{playerList.statusIcon(playerList.player.md5)}}"></i>
                </span>
            </div>
            <div class="item" ng-show="playerList.showActions">
                <div class="row">
                    <a class="button button-accept col" ng-click="playerList.actions.accept(playerList.game)"
                       ng-show="main.gameDetails.playerChallengeResponseNeeded(playerList.game, playerList.player.md5)">
                        <i class="icon ion-checkmark-circled"></i> Accept
                    </a>
                    <a class="button button-reject col" ng-click="playerList.actions.reject(playerList.game)">
                        <i class="icon ion-close-circled"></i> Reject
                    </a>
                </div>
            </div>
            <div class="item item-avatar item-icon-right"
                 ng-repeat="(md5, name) in playerList.game.players" ng-hide="md5 === playerList.player.md5">
                <img ng-src="{{main.gameDetails.imageForPlayer(game, md5)}}">
                {{name}}
                <span class="{{playerList.statusColor(md5)}}">
                    <i class="icon ion-{{playerList.statusIcon(md5)}}"></i>
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>