<ion-view hide-nav-bar="true">
    <ion-header-bar>
        <game-summary-bar></game-summary-bar>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader">
        <h1 class="title">{{game.generalMessage}}</h1>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="row">
            <div class="list col-20">
                <div class="item" ng-show="showing == player.md5 && gameDetails.playerCanPlay(game, player.md5)">
                    <div class="button-bar">
                        <button class="button ion-{{gameDetails.iconForFeature('ECMEnabled')}}" ng-click="ecm()"> ECM
                        </button>
                        <button class="button ion-{{gameDetails.iconForFeature('EMEnabled')}}" ng-click="move()"> Move
                        </button>
                        <button class="button ion-{{gameDetails.iconForFeature('EREnabled')}}" ng-click="repair()">
                            Fix
                        </button>
                    </div>
                </div>
                <div class="item" ng-show="showing != player.md5 && gameDetails.playerCanPlay(game, player.md5)">
                    <div class="button-bar">
                        <button class="button ion-navigate" ng-click="fire()"> Fire</button>
                        <button class="button ion-{{gameDetails.iconForFeature('SpyEnabled')}}" ng-click="spy()"> Spy
                        </button>
                    </div>
                </div>
                <!--  TODO - highlight entire item  -->
                <div class="item item-avatar item-icon-right {{showing == md5 ? 'energized' : ''}}"
                     ng-repeat="(md5, name) in game.players | orderBy:name" ng-click="changePlayer(md5)">
                    <img ng-src="{{gameDetails.imageForPlayer(game, md5)}}">
                    {{name}}
                <span class="{{gameDetails.playerCanPlay(game, md5) ? 'assertive' : 'balanced'}}">
                    <i class="icon ion-{{gameDetails.playerCanPlay(game, md5) ? 'play' : 'pause'}}"></i>
                </span>
                </div>
                <div class="item">
                    <div class="button-bar">
                        <button class="button button-assertive ion-flag" ng-click="quit()"> Quit</button>
                    </div>
                </div>
            </div>
            <div id="phaser" class="col-80">

            </div>
        </div>
    </ion-content>
</ion-view>