<ion-view class="playerList" hide-back-button="true">
    <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-information-circled" ng-click="showDetails()"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-avatar item-icon-right">
                <img ng-src="{{gameDetails.imageForPlayer(game, player.md5)}}">
                {{player.displayName}}
                <span class="{{statusColor(player.md5)}}">
                    <i class="icon ion-{{statusIcon(player.md5)}}"></i>
                </span>
            </div>
            <div class="item" ng-show="showActions">
                <div class="row">
                    <a class="button button-accept col" ng-click="accept()"
                            ng-show="gameDetails.playerChallengeResponseNeeded(game, player.md5)">
                        <i class="icon ion-checkmark-circled"></i> Accept
                    </a>
                    <a class="button button-reject col" ng-click="reject()">
                        <i class="icon ion-close-circled"></i> Reject
                    </a>
                </div>
            </div>
            <div class="item item-avatar item-icon-right"
                 ng-repeat="(md5, name) in game.players" ng-hide="md5 === player.md5">
                <img ng-src="{{gameDetails.imageForPlayer(game, md5)}}">
                {{name}}
                <span class="{{statusColor(md5)}}">
                    <i class="icon ion-{{statusIcon(md5)}}"></i>
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>