<ion-view class="playerList">
    <ion-content>
        <div class="list">
            <div class="item item-avatar item-icon-right">
                <img ng-src="{{gameDetails.imageForPlayer(game, player.md5)}}">
                {{player.displayName}}
                <span class="{{statusColor(player.md5)}}">
                    <i class="icon ion-{{statusIcon(player.md5)}}"></i>
                </span>
            </div>
            <div class="item" ng-show="{{showActions}}">
                <div class="row">
                    <button class="button button-accept col" ng-click="accept()"
                            ng-show="gameDetails.playerChallengeResponseNeeded(game, player.md5)">
                        <i class="icon ion-checkmark-circled"></i> Accept
                    </button>
                    <button class="button button-reject col" ng-click="reject()">
                        <i class="icon ion-close-circled"></i> Reject
                    </button>
                </div>
            </div>
            <div class="item item-avatar item-icon-right"
                 ng-repeat="(md5, name) in game.players | orderBy:name" ng-hide="md5 === player.md5">
                <img ng-src="{{gameDetails.imageForPlayer(game, md5)}}">
                {{name}}
                <span class="{{statusColor(md5)}}">
                    <i class="icon ion-{{statusIcon(md5)}}"></i>
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>