<ion-view hide-nav-bar="true">
    <ion-content has-bouncing="false">
        <div class="list">
            <div class="item">
                <div class="row">
                    <button class="button button-balanced col" ng-click="accept()">
                        <i class="icon ion-checkmark-circled"></i>
                    </button>
                    <button class="button button-assertive col" ng-click="reject()">
                        <i class="icon ion-close-circled"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="phaser">

        </div>
    </ion-content>
</ion-view>