<!--  TODO - help -->
<ion-view hide-nav-bar="true">
    <ion-header-bar>
        <game-summary-bar></game-summary-bar>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="row">
            <div class="list col-20">
                <div class="item">
                    <button class="button button-positive button-block ion-checkmark" ng-disabled="submitDisabled"
                            ng-click="submit()">
                        Save
                    </button>
                </div>
                <div class="item">
                    <button class="button button-full button-assertive ion-flag" ng-click="quit()">
                        Quit
                    </button>
                </div>
                <div class="item item-avatar item-icon-right"
                     ng-repeat="(md5, name) in game.players | orderBy:name">
                    <img ng-src="{{gameDetails.imageForPlayer(game, md5)}}">
                    {{name}}
                <span class="{{gameDetails.playerSetupEntryRequired(game, md5) ? 'assertive' : 'balanced'}}">
                    <i class="icon ion-{{gameDetails.playerSetupEntryRequired(game, md5) ? 'close' : 'checkmark'}}"></i>
                </span>
                </div>
            </div>
            <div id="phaser" class="col-80">

            </div>
        </div>
    </ion-content>
</ion-view>