<ion-view>
    <ion-content>
        <div ng-controller="CoreMobileSignInCtrl">
            <div class="container">
                <div class="row text-center">
                    <div class="center">
                        <p>{{message}}</p>
                    </div>
                </div>
            </div>

            <div class="container" ng-show="showFacebook">
                <div class="row text-center">
                    <div class="center">
                        <fb:login-button scope="{{facebookPermissions}}"
                                         onlogin="window.location.reload()"></fb:login-button>
                    </div>
                </div>
            </div>


            <div class="container" ng-show="showManual">
                <div class="row text-center">
                    <p>Don't want to login with Facebook?</p>

                    <form id="signin" class="form-group">
                        <input id="_csrf" name="_csrf" type="hidden" value="{{csrf}}"/>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text" size="25" ng-model="username"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password" size="25" ng-model="password"/>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="remember-me" name="remember-me" ng-model="rememberme">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" ng-click="manualLogin(user, password, rememberme)"
                                    class="btn btn-default">Sign in
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>